@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500&display=swap');

::-webkit-scrollbar{
    width: 10px;
}

::-webkit-scrollbar-track{
    background-color: #bbb;
}

::-webkit-scrollbar-thumb{
    background-color: #032924;

    &:hover{
        background-color: #07554b;
    }
}

*{
    font-family: "Nunito", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    transition: all .3s;
}

body{
    display: flex;
    flex-direction: column;
}

.nav-bar{
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    background-color: #eee;
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 3;
    border-bottom: 2px solid #149383;

    .logo{
        display: flex;
        gap: 10px;
        justify-content: center;
        align-items: center;
    }

    .nav-list{
        display: flex;
        list-style: none;
        gap: 40px;
        align-items: center;

        &-item{
            display: flex;
            align-items: center;

            a{
                text-decoration: none;
                color: black;

                &:hover{
                    text-decoration: underline;
                }
            }
        }

        &-item-mobile{
            display: none;

            .menu{
                display: none;
                cursor: pointer;
            }

            .close{
                display: none;
            }
        }
    }

    .nav-mobile{
        position: absolute;
        left: 0;
        top: 0;
        background-color: #eee;
        width: 100%;
        z-index: 90;
        display: none;

        ul{
            display: flex;
            flex-direction: column;
            list-style: none;
            gap: 5px;

            li{
                a{
                    text-decoration: none;
                    color: black;

                    &:hover{
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}

.home{
    min-height: 100vh;
    display: flex;
    align-items: center;
    background-color: #149383;
    padding-left: 20vw;

    .home-left{
        display: flex;
        flex-direction: column;
        gap: 20px;

        &-header{
            font-size: 40px;
        }

        &-footer{
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: 15px;

            a{
                width: 45px;
                height: 45px;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                box-shadow: 0 0 10px rgb(0,0,0,.6);

                &:hover{
                    transform: scale(1.1);
                }

                svg{
                    margin-left: 1px;
                    width: 30px;
                    height: 30px;
                    color: white;
                }
            }
            
            .lin{
                background-color: #0A66C2;
            }

            .git{
                background-color: #171515;
            }
        }
    }
}

.about{
    transition: all .3s;
    background-color: #eee;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    padding: 30px 0 15px 0;

    &-header{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 40px;
        font-weight: bold;
        gap: 10px;

        .gr{
            color: #149383;
        }
    }

    &-content{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 60%;
        gap: 50px;

        &-pic{
            img{
                width: 300px;
                border-radius: 20px;
                box-shadow: 0 0 10px rgb(0,0,0,.6);
            }
        }

        &-right{
            display: flex;
            flex-direction: column;
            align-self: flex-start;
            gap: 20px;
        }
    }
}

.work{
    padding: 30px 0 15px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    background-color: #149383;

    &-header{
        display: flex;
        align-items: center;
        font-size: 40px;

        img{
            width: 80px;
        }

        span{
            font-weight: bold;
            margin-right: 15px;
        }

        .wht{
            color: #ddd;
        }
    }

    &-content{
        width: 70vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        
        .project{
            display: flex;
            width: 100%;
            align-items: center;
            gap: 10px;
            
            &-explain{
                width: 40%;
                display: flex;
                flex-direction: column;
                gap: 10px;

                .project-link{
                    display: flex;
                    align-items: center;
                    gap: 20px;

                    a{
                        color: black;
                        text-decoration: none;
                        padding: 5px 10px;
                        border-radius: 2px;
                        background-color: rgb(0,0,0,.3);
                        transition: all .2s;

                        &:hover{
                            background-color: rgb(0,0,0,.2);
                        }
                    }
                }
            }

            &-img{
                width: 60%;

                img{
                    width: 100%;
                    border-radius: 3px;
                }
            }
            
            &:nth-child(even){
                flex-direction: row-reverse;
            }
        }
    }
}

.contact{
    padding: 30px 0 15px 0;
    background-color: #ddd;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;

    &-header{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        font-size: 40px;

        span{
            font-weight: bold;
        }

        .gr{
            color:#149383;
        }
    }

    &-content{
        display: flex;
        background-color: #eee;
        border-radius: 10px;
        gap: 20px;
        padding: 40px;

        form{
            display: flex;
            flex-direction: column;
            gap: 20px;
            justify-content: center;

            div{
                position: relative;

                svg{
                    position: absolute;
                    left: 13px;
                    top: 10px;
                }

                input,textarea{
                    border-radius: 5px;
                    padding: 10px;
                    font-size: 17px;
                    width: 100%;
                    outline: none;
                    border: 2px solid #149383;
                    padding-left: 44px;
                    background-color: #eee;

                    &:hover{
                        background-color: #ddd;
                    }
                }
            }

            .email{
                svg{
                    top: 11px;
                }
            }

            button{
                display: flex;
                align-items: center;
                border-radius: 5px;
                background-color: #149383;
                padding: 10px;
                padding-right: 44px;
                border: none;
                font-size: 17px;
                gap: 5px;
                cursor: pointer;
                align-self: flex-end;
                position: relative;

                svg{
                    right: 15px;
                    top: 10px;
                    position: absolute;
                }
                
                &:hover svg{
                    transform: rotate(43deg);
                }
            }
        }
    }
}

.footer{
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 30px 0;
    background-color: #149383;
    align-items: center;

    &-top{
        width: 70%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        &-left{
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: 15px;

            a{
                width: 45px;
                height: 45px;
                background-color: red;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                box-shadow: 0 0 10px rgb(0,0,0,.6);

                &:hover{
                    transform: scale(1.1);
                }

                svg{
                    margin-left: 1px;
                    width: 30px;
                    height: 30px;
                    color: white;
                }
            }
            
            .lin{
                background-color: #0A66C2;
            }

            .git{
                background-color: #171515;
            }
        }

        &-right{
            display: flex;
            flex-direction: column;
            gap: 5px;

            .phone,.email,.place{
                display: flex;
                align-items: center;
                gap: 5px;

                svg{
                    color: black;
                }
            }
        }
    }

    .line{
        width: 80%;
        height: 1.2px;
        background-color: black;
        border-radius: 5px;
    }

    &-bottom{
        display: flex;
        gap: 5px;
        align-items: center;

        svg{
            animation: love .5s alternate infinite;
        }
    }
}

@keyframes love {
    from{
        transform: scale(.95);
    }
    to{
        transform: scale(1.05);
    }
}

// responsive on mobile
@media screen and (max-width: 600px) {
    .nav-bar{
        justify-content: space-between;
        padding: 0 10px;
        
        .nav-list{
            &-item{
                display: none;
                a{
                    display: none;
                }
            }

            &-item-mobile{
                display: inline;
                z-index: 999;

                .menu{
                    display: inline;
                }

                .close{
                    display: none;
                }
            }
        }

        .nav-mobile{
            padding: 10px;
            display: none;
        }
    }

    .home{
        padding-left: 10vw;
        
        &-left{
            order: 1;

            &-header{
                div{
                    font-size: 25px;
                }
            }
        }
    }

    .about{
        padding: 20px 0;
        gap: 20px;

        &-header{
            font-size: 30px;
        }

        &-content{
            flex-direction: column;
            width: 95%;
            gap: 20px;

            img{
                width: 40vw;
            }
        }
    }

    .work{
        padding: 20px 0;
        gap: 20px;

        &-header{
            font-size: 30px;
        }

        &-content{
            width: 98vw;
            
            .project{
                flex-direction: column-reverse;

                &-explain{
                    width: 90%;
                }

                &-img{
                    width: 90%;
                }

                &:nth-child(even){
                    flex-direction: column-reverse;
                }
            }
        }
    }

    .exp{
        &-content{
            width: 93vw;
        }
    }

    .contact{
        padding: 20px 0;
        gap: 20px;

        &-header{
            font-size: 30px;
        }

        &-content{
            width: 100%;
            padding: 10px;

            img{
                display: none;
            }

            form{
                width: 100%;
            }
        }
    }

    .footer{
        padding: 10px;
        gap: 10px;

        &-top{
            width: 100%;
            justify-content: space-between;
            flex-direction: column;
            align-items: flex-start;

            &-left{
                display: none;
            }
        }

        .line{
            width: 100%;
        }
    }
}

// responsive on tablet
@media screen and (min-width: 601px) and (max-width: 1024px) {

    .home{
        padding-left: 10vw;
    }

    .about{
        padding: 20px 0;
        gap: 20px;

        &-header{
            font-size: 30px;
        }

        &-content{
            width: 87vw;
            gap: 20px;

            img{
                width: 40vw;
            }
        }
    }

    .work{
        padding: 20px 0;
        gap: 20px;

        &-header{
            font-size: 30px;
        }

        &-content{
            width: 87vw;
            
            .project{
                flex-direction: column-reverse;

                &-explain{
                    width: 100%;
                }

                &-img{
                    width: 100%;
                }

                &:nth-child(even){
                    flex-direction: column-reverse;
                }
            }
        }
    }

    .contact{
        padding: 20px 0;
        gap: 20px;

        &-header{
            font-size: 30px;
        }
    }
}